<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <parameter name="numberOfPoints" value="100" />
    <parameter name="textLength" value="200" />
    <test verbose="2" preserve-order="true" name="EnablonTestTask">
        <classes>
            <class name="tests.NegativeTests">
                <methods>
                    <include name = "addSimilarPoints"/>
                    <include name = "addPointWithLargeText"/>
                    <include name = "addTooManyPoints"/>
                    <include name = "shouldDeleteEmptyPoint"/>
                </methods>
            </class>
            <class name="tests.PositiveTests">
                <methods>
                    <include name="addItem"/>
                    <include name="completePoint"/>
                    <include name="destroyPoint"/>
                    <include name="editPoint"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>